
.main {
  background-color: #615566;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.containerBallRigth {
  background-color: green;
  width: 500px;
  height: 200px;
  border-radius: 120px;
  position: relative;
  transition: 0.9s ease;
}

.containerBallLeft {
  background-color: gray;
  width: 500px;
  height: 200px;
  border-radius: 120px;
  position: relative;
  transition: 0.9s ease;
}

.ballRight {
  position: absolute;
  background-color: white;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  top: 10px;
  cursor: pointer;
  transition: transform 0.9s ease;
}

.ballLeft {
  position: absolute;
  background-color: white;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  top: 10px;
  cursor: pointer;
  transition: transform 0.9s ease;
}

.ballRight {
  transform: translateX(300px);
}

.ballLeft {
  transform: translateX(20px); 
}

.title {
  color: #c1c9c8;
  font-size: 40px;
}